<div class="">
    <div class="block popular-routes">
        <h1>Популярні напрямки</h1>
        <div class="pop-direct">
            <div class="pop-direct-block">
                <a href="">
                    <div class="pop-direct-city">
                        <div class="bg-image-city"><img src="/static/images/london.jpg" alt=""></div>
                        <div class="cities"><p class="some">Лондон > Дубай</p></div>
                    </div>
                </a>
                <a href="">
                    <div class="pop-direct-city">
                        <div class="bg-image-city"><img src="/static/images/hongkong.jpg" alt=""></div>
                        <div class="cities"><p class="some">Гонконг > Бангкок</p></div>
                    </div>
                </a>
                <a href="">
                    <div class="pop-direct-city">
                        <div class="bg-image-city"><img src="/static/images/sidney.jpg" alt=""></div>
                        <div class="cities"><p class="some">Сідней > Мельбурн</p></div>
                    </div>
                </a>
            </div>
            <div class="pop-direct-block">
                <a href="">
                    <div class="pop-direct-city">
                        <div class="bg-image-city"><img src="/static/images/pekin.jpg" alt=""></div>
                        <div class="cities"><p class="some">Пекін > Шанхай</p></div>
                    </div>
                </a>
                <a href="">
                    <div class="pop-direct-city">
                        <div class="bg-image-city"><img src="/static/images/newyork.jpg" alt=""></div>
                        <div class="cities"><p class="some">Нью-Йорк > Лос-Анджелес</p></div>
                    </div>
                </a>
                <a href="">
                    <div class="pop-direct-city">
                        <div class="bg-image-city"><img src="/static/images/tokio.jpg" alt=""></div>
                        <div class="cities"><p class="some">Токіо > Осака</p></div>
                    </div>
                </a>
            </div>
            <div class="pop-direct-block">
                <a href="">
                    <div class="pop-direct-city">
                        <div class="bg-image-city"><img src="/static/images/deli.jpg" alt=""></div>
                        <div class="cities"><p class="some">Делі > Мумбаї</p></div>
                    </div>
                </a>
                <a href="">
                    <div class="pop-direct-city">
                        <div class="bg-image-city"><img src="/static/images/paris.jpg" alt=""></div>
                        <div class="cities"><p class="some">Париж > Рим</p></div>
                    </div>
                </a>
                <a href="">
                    <div class="pop-direct-city">
                        <div class="bg-image-city"><img src="/static/images/toronto.jpg" alt=""></div>
                        <div class="cities"><p class="some">Торонто > Монреаль</p></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>