<div class="other">
    <div class="block tablo">
        <h1>Табло</h1>
        <div class="schedule">
            <button class="sub-btn tablo-btn current">Взліт</button><button class="sub-btn tablo-btn some">Посадка</button>
            <div class="div-tablo">
                <ul class="tablo-list">
                    <li class="li-tablo bb"><p class="p1">Літак</p><p class="p2">Маршрут</p><p class="p3">Час</p><p class="p4">Аеропорт</p><p class="p5">Статус</p></li><br>
                    <li class="li-tablo"><p class="p1 p1c">A300</p><p class="p2">Бангкок, Таїланд - Гонконг, Китай</p><p class="p3">14:34</p><p class="p4">Suvarnabhumi Airport</p><p class="p5 p5c">Вчасно</p></li><br>
                    <li class="li-tablo"><p class="p1 p1c">Boeing 747</p><p class="p2">Дубай, ОАЕ - Лондон, Великобританія</p><p class="p3">14:52</p><p class="p4">Dubai International Airport</p><p class="p5 p5c">Вчасно</p></li><br>
                    <li class="li-tablo"><p class="p1 p1c">Boeing 717</p><p class="p2">Пекін, Китай - Токіо, Японія</p><p class="p3">15:15</p><p class="p4">Beijing Capital International Airport</p><p class="p5 p5c">Вчасно</p></li><br>
                    <li class="li-tablo"><p class="p1 p1c">A330ceo</p><p class="p2">Лос-Анджелес, США - Сідней, Австралія</p><p class="p3">16:00</p><p class="p4">Los Angeles International Airport</p><p class="p5 p5c">Вчасно</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>