<main class="ticket-block">
    <div class="h">
        <h1 class="">Пошук авіаквитків</h1>
    </div>
    <div class="form-div">
        <form action="{{ url_for('redirect_to_other_page') }}" class="form-ticket">
            <div class="inp">
                <div class="item">
                    <div class="input-div some">
                        <input type="text" name="start-city" list="city-name" placeholder="Звідки" id="without-arrow" required>
                        <datalist id="city-name">
                            <option value="City1"></option>
                        </datalist>
                    </div>
                </div>
                <div class="item">
                    <div class="input-div some name">
                        <input type="text" name="start-city" list="city-name" placeholder="Куди" id="without-arrow" required>
                        <datalist id="city-name">
                            <option value="City1"></option>
                        </datalist>
                    </div>
                </div>
                <div class="item">
                    <div class="some name">
                        <input type="text" id="there" class="datediv" placeholder="Туди (дата)" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}" required>
                    </div>
                </div>
                <div class="item">
                    <div class="some name">
                        <input type="text" id="back" class="datediv" placeholder="Назад (дата)" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}" required>
                        
                    </div>
                </div>
                <div class="item">
                    <div class="some name">
                        <input type="number" id="number-of-passengers" class="datediv" placeholder="Пасажири" required>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="ticket-butt accordion_element">
                    <button class="sub-btn" type="submit" id="submitButton" value="Submit">Знайти</button>
                </div>
            </div>
            
        </form>
        
    </div>
</main>