{% extends "base.html" %}

{% block content %}

<div class="block tablo">
    <h1>Ваші квитки :)</h1>
    <div class="schedule">
        <div class="div-tablo bum">
            <h3>Квиток 1</h3>
            <ul class="tablo-list">
                <li class="li-tablo bd"><p class="t1">Компанія<br>Norse Atlantic UK LTD</p><p class="t4">Номер пасажира<br>PS 0049211</p></li>
                <li class="li-tablo"><p class="t1">Ім'я пасажира<br>Якийсь чувак</p><p class="t2">Номер рейсу/Клас/Дата<br>PS 0071/L/14SEP</p><p class="t4">Звідки/Куди<br>BORISPIL-KIYV<br>DNIPRO</p></li>
                <li class="li-tablo"><p class="t1">Звідки/Куди<br>KBP/DNP</p><p class="t2">Номер рейсу<br>PS 0071</p><p class="t4">Клас<br>L</p><p class="t4">Дата<br>14SEP</p><p class="t4">Час прибуття<br>2115</p><p class="t4">Ворота<br>B12</p></li>
                <li class="li-tablo"><p class="t1">Місце<br>10C</p><p class="t2">Клас<br>ECONOMY CLASS</p><p class="t4">Ворота<br>B12</p><p class="t4">Час посадки<br>2045</p><p class="t4">Курінню<br>Ні</p></li>
                
            </ul>
        </div>
    </div>
</div>

{% endblock %}