<!DOCTYPE html>
<html lang="ua">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css"> 
        <title>Aviatickets</title>
    </head>

    <body>
        <div class="body-div">
            <div class="content-div">
                <header class="header-block pr-20 pl-20">
                    <div class="header-div">
                        <a href=""><img src="./images/завантаження.png" id="icon" width="50" height="50"></img></a>
                        <a href=""><p class="logo-text">quick tickets</p></a>
                        <!-- <div class="header-list">
                            <a href="" class="border-radius rounded pr-20 pl-20 size-40 link align-center a-hover a-color">Головна</a>
                            <a href="" class="border-radius rounded pr-20 pl-20 size-40 link align-center a-hover a-color">Про нас</a>
                            <a href="" class="border-radius rounded pr-20 pl-20 size-40 link align-center a-hover a-color">Мова</a>
                            <a href="" class="border-radius rounded pr-20 pl-20 size-40 link align-center a-hover a-color">Особистий кабінет</a>
                        </div> -->
                        <ul class="header-list2">
                            <li><a href="https://tickets.ua/">Головна</a></li>
                            <li><a href="">Про нас</a></li>
                            <li><a href="">Мова</a></li>
                            <li><a href="">Особистий кабінет</a></li>
                        </ul>
                    </div>
                </header>
                <main class="ticket-block">
                    <div class="h">
                        <h1 class="some">Пошук квитків</h1>
                    </div>
                    <div class="form-div">
                        <form action="" class="form-ticket">
                            <!-- <label for="city-select-start">Звідки</label> -->
                            <!-- <select name="City" id="city-select-start">
                                <option>Звідки</option>
                            </select> -->
                            
                            <!-- <label for="city-select-destination">Куди</label> -->
                            <div class="name">
                                <div class="input-div some">
                                    <input type="text" name="start-city" list="city-name" placeholder="Звідки" id="without-arrow">
                                    <datalist id="city-name">
                                        <option value="City1"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div class="name">
                                <div class="input-div some name">
                                    <input type="text" name="start-city" list="city-name" placeholder="Куди" id="without-arrow">
                                    <datalist id="city-name">
                                        <option value="City1"></option>
                                    </datalist>
                                </div>
                            </div>
                                
                            <!-- <label for="there">Туди</label> -->
                            <div class="name">
                                <div class="some name">
                                    <input type="date" id="there" class="datediv">
                                </div>
                            </div>
                                <!-- <label for="back">Назад</label> -->
                            <div class="name">
                                <div class="some name">
                                    <input type="date" id="back" class="datediv some">
                                </div>
                            </div>
                                <!-- <label for="number-of-passengers">Пасажири</label> -->
                            <div class="name">
                                <div class="some name">
                                    <input type="number" id="number-of-passengers" class="datediv" placeholder="Пасажири">
                                </div>
                            </div>
                                <!-- <label for="class-select">Клас</label> -->
                            <div class="name">
                                <div class="input-div some name">
                                    <input type="text" name="class-option" list="classes" placeholder="Клас" id="without-arrow">
                                    <datalist id="classes">
                                        <option value="eco">Економ</option>
                                    </datalist>
                                </div>
                            </div>
                            
                            <button class="sub-btn">Знайти</button>
                            
                        </form>
                        
                    </div>
                </main>
                <footer class="footer-block">

                </footer>
            </div>
        </div>
    </body>
</html>