{% extends "base.html" %}

{% block content %}
<main class="ticket-block">
    <div class="h">
        <h1 class="">Підбір авіаквитків</h1>
    </div>
    <div class="form-div">
        
        <form action="{{ url_for('passangers', direct_ticket = direct_ticket, undirect_tickets = [], passengers_count = passengers_count) }}" method="POST" class="form-ticket">
            <div class="info-block">
                
                    <div class="form-block">
                        <!-- div class="info-form" можна ставити скільки завгодно в залежності від кількості квитків -->
                        <div class="info-form">
                            <!-- Лого авіакомпанії -->
                            <div class="company-photo"><img src="/static/images/company_logo/AA.svg" alt=""><p class="company-name">American Airlanes</p></div>
                            <div class="time-date">
                                <!-- Час відправлення та час прибуття -->
                                <p>17:20 - 23:55</p>
                                <!-- Тривалість польоту -->
                                <p>4г 34хв тривалість</p>
                            </div>
                            <div class="directions-other">
                                <!-- Звідки куди -->
                                <div><p>Лондон (STN) - Анталія (AYT)</p></div>
                                <div class="last-child2">
                                    <!-- Дата -->
                                    <div class="date-other"><p>09 чер, пт</p></div>
                                    <div class="linear"><p>прямий</p></div>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                    </div>
                    <div class="price-btn-block">
                        <button class="sub-btn price-btn active" type="submit" id="submitButton" value="Submit">
                            <p class="buy">Купити за</p>
                            <p class="price">7 730$</p>
                        </button>
                    </div>
                
            </div>
        </form>
        
        <form action="{{ url_for('passangers', direct_ticket = [], undirect_tickets = undirect_tickets, passengers_count = passengers_count) }}" method="POST" class="form-ticket">
            <div class="info-block">
                
                    <div class="form-block">
                        <!-- div class="info-form" можна ставити скільки завгодно в залежності від кількості квитків -->
                        <div class="info-form">
                            <!-- Лого авіакомпанії -->
                            <div class="company-photo"><img src="/static/images/company_logo/AA.svg" alt=""><p class="company-name">American Airlanes</p></div>
                            <div class="time-date">
                                <!-- Час відправлення та час прибуття -->
                                <p>17:20 - 23:55</p>
                                <!-- Тривалість польоту -->
                                <p>4г 34хв тривалість</p>
                            </div>
                            <div class="directions-other">
                                <!-- Звідки куди -->
                                <div><p>Лондон (STN) - Анталія (AYT)</p></div>
                                <div class="last-child2">
                                    <!-- Дата -->
                                    <div class="date-other"><p>09 чер, пт</p></div>
                                    <div class="linear"><p>непрямий</p></div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="info-form">
                            <!-- Лого авіакомпанії -->
                            <div class="company-photo"><img src="/static/images/company_logo/AA.svg" alt=""><p class="company-name">American Airlanes</p></div>
                            <div class="time-date">
                                <!-- Час відправлення та час прибуття -->
                                <p>17:20 - 23:55</p>
                                <!-- Тривалість польоту -->
                                <p>4г 34хв тривалість</p>
                            </div>
                            <div class="directions-other">
                                <!-- Звідки куди -->
                                <div><p>Лондон (STN) - Анталія (AYT)</p></div>
                                <div class="last-child2">
                                    <!-- Дата -->
                                    <div class="date-other"><p>09 чер, пт</p></div>
                                    <div class="linear"><p>непрямий</p></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="price-btn-block">
                        <button class="sub-btn price-btn active" type="submit" id="submitButton" value="Submit">
                            <p class="buy">Купити за</p>
                            <p class="price">7 730$</p>
                        </button>
                    </div>
            </div>
        </form>
    </div>
</main>
{% endblock %}